.iop-linked-group {
  position: relative;
  outline: 3px solid magenta !important;
}

.iop-linked-group a.iop-linked-group__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
}

/* every clickable element in the group needs to be position:relative */
.iop-linked-group button,
.iop-linked-group a:not(.iop-linked-group__link) {
  position: relative;
  z-index: 20;
}
